.sidebar {
  width: 80px !important;
  min-width: 80px !important;
  z-index: 200;
  transition: 0.2s all ease-in-out;
  position: fixed !important;
  top: 0;
  bottom: 0;
  min-height: 100lvh;
  height: 100%;
  overflow-y: scroll !important;

  @media (max-width: 1200px) {
    width: 0;
    min-width: 0;
  }

  &:hover {
    & .counter {
      opacity: 1;
    }

    .logo {
      opacity: 1;
    }
    @media (min-width: 1200px) {
      width: 260px !important;
      min-width: 260px !important;
    }

    .content {
      opacity: 1;
      transform: translate3d(0px, 0, 0);
    }
    .menuText {
      opacity: 1;
      display: flex;
    }

    .menuItem,
    .submenu,
    .arrow {
      opacity: 1;
    }

    .title,
    .subTitle {
      opacity: 1;
    }
  }
}

.collapsed {
  width: 260px !important;
  min-width: 260px !important;

  .title,
  .subTitle,
  .arrow {
    opacity: 1;
  }
}
.title,
.subTitle {
  opacity: 0;
  color: white;
}

.title {
  transition: 0.1s;
  width: 260px;
  padding: 12px 0 0 20px;
  cursor: pointer;
  font-family: "Bruno Ace SC" !important;
  font-size: 28px;
}
.subTitle {
  font-size: 14px;
  overflow: hidden;
  text-overflow: initial;
  white-space: nowrap;
}
.overlay {
  z-index: 99;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.logo {
  position: relative;
  display: flex;
  z-index: 10;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;

  .logoimg {
    display: block;
  }
  &::after {
    content: "";
    position: absolute;
    bottom: 0px;
    right: 15px;
    width: calc(100% - 30px);
    height: 1px;
    background-color: #fff;
    opacity: 0.8;
  }
}

.subMenuItem {
  display: flex;
  flex: 1;
  opacity: 0;
  transition: 0.2s;
}

.submenu {
  ul {
    background: #3d63b4 !important;
    background: transparent;
    padding: 5px;
  }

  .link {
    margin-right: 0 !important;
  }
}
.link {
  display: flex;
  align-items: center;
  cursor: pointer;

  line-height: 15px;
  padding: 10px;
  margin: 5px;
  background: transparent;

  opacity: 0.86;
  border-radius: 4px;

  line-height: 31px;
  font-size: 12px;
  font-weight: 600;

  @media (max-width: 960px) {
    padding: 2px 5px !important;
    margin: 2px 5px !important;
  }

  &:hover {
    background: rgba(255, 255, 255, 0.23) !important;
  }
}
.active {
  background: rgba(255, 255, 255, 0.23) !important;
}

.menuItem {
  display: flex;
  flex: 1;
  overflow-x: hidden;
  flex-wrap: nowrap;
  opacity: 0;
  transition: 0.2s;
  min-width: max-content;
}
.logout {
  display: none;

  @media (max-width: 1200px) {
    display: flex;
    justify-content: center;
    padding: 10px 0;
    margin-top: 30px;
    width: 100%;
  }
}
.itemImg {
  display: flex;
  flex: 1;
}
.menuText {
  display: flex;
  flex: 3;
  transition: 0.3s;
  opacity: 0;
  display: none;
  width: 158px;
}
.arrow {
  display: flex;
  flex: 0.5;
  opacity: 0;
}
.activeImage {
  transform: rotate(180deg);
}
.content {
  white-space: nowrap;
  color: #fff;
  font-weight: 400;

  &:hover {
    background: rgba(255, 255, 255, 0.23) !important;
  }
}

.logo {
  width: 230px;
  height: 70px;
  opacity: 0;
  margin-left: 8px;
  margin-right: 10px;
  transition: all 200ms;
}
.routeIcon {
  margin-left: 8px;
  margin-right: 10px;
}

.counter {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(237, 44, 44);
  height: 20px;
  width: 20px;
  font-size: 10px;
  line-height: 10px;
  border-radius: 50%;
  position: absolute;
  top: -5px;
  right: -5px;
  opacity: 0;
  transition: all 200ms;
  color: #fff;
}

.navItem {
  display: flex;
  flex-direction: column;
  width: 100%;
  a {
    @media (max-width: 960px) {
      height: 40px;
    }
  }
}
