.breadcrump {
  background-color: transparent;
  margin: 0;
  padding-left: 100px;
  line-height: 60px;
  list-style: none;

  @media (max-width: 1200px) {
    padding: 0;
    line-height: 25px;
  }

  li + li:before {
    padding: 0 5px;
    color: #ccc;
    content: "/";
    box-sizing: border-box;
  }

  li {
    display: inline-block;

    &.active {
      color: #777;
    }
  }
  a {
    color: #337ab7;
  }
}
.block {
  background: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 0 0 1px rgba(63, 63, 68, 0.1);
  margin-bottom: 10px;

  @media (max-width: 1200px) {
    padding: 10px 0;
  }
}
.container {
  display: flex;
  justify-content: space-between;
  outline: none !important;
  align-items: center;
  padding: 0 20px;

  color: #9a9a9a !important;

  a {
    text-decoration: none !important;
  }
}
.logout {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;

  @media (max-width: 1200px) {
    display: none;
  }
}
